{% extends 'base.html'%}
{% block content%}

<h1>Home Page</h1>
<ul>

{% for post in object_list %}
    <li><a href="{% url 'details' post.pk %}"> {{post.title}} </a> - {{post.author.first_name}}
        {{post.author.last_name}}<br>
        <a href="{% url 'category' post.category|slugify%}">{{post.category}}</a><br>

       {% if user.is_authenticated %}
            {% if user.id == post.author.id%}
                <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary" >Edit</a>
                <small> <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger" >Delete</a></small>
             {% endif %}
        {% endif %}
    </li>


        {{post.body|slice:":200"| safe}}</li>
{% endfor %}
</ul>

{% endblock%}