{% extends 'base.html'%}
{%block title%}Login Page {% endblock %}
{% block content%}


<h1><strong>login</strong></h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-row">

        <div class="form-group col-md-6">
        <label >Username</label>
        <input type="text" class="form-control" name="username">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label >Password</label>
        <input type="password" class="form-control" name="password">
         </div>
    </div>
    <button type="button" class="btn btn-info">LOG IN</button>

    <br>
    Not Register? Sign Up <a href="{% url 'register'%}" >Here</a>





{% endblock%}